:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --Toggle: hsl(230, 22%, 74%);
  --BG: hsl(0, 0%, 100%);
  --TopBGPattern: hsl(225, 100%, 98%);
  --CardBG: hsl(227, 47%, 96%);
  --Text: hsl(228, 12%, 44%);
  --Text-2: hsl(230, 17%, 14%);
}

[data-theme="dark"] {
  --Toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --BG: hsl(230, 17%, 14%);
  --TopBGPattern: hsl(232, 19%, 15%);
  --CardBG: hsl(228, 28%, 20%);
  --Text: hsl(228, 34%, 66%);
  --Text-2: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 350px) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 325px) {
  html {
    font-size: 56%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: var(--BG);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

@media (min-width: 1300px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper {
  width: 90%;
  max-width: 1125px;
  margin: 0 auto;
  padding: 4rem 0;
}

@media (min-width: 1300px) {
  .wrapper {
    padding: 0;
  }
}

.header {
  margin-bottom: 4rem;
}

@media (min-width: 650px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__head {
  padding-bottom: 2rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--Text);
}

@media (min-width: 650px) {
  .header__head {
    border: none;
    padding-bottom: 0;
  }
}

.header__title {
  font-size: 2.625rem;
  color: var(--Text-2);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

@media (min-width: 1000px) {
  .header__title {
    font-size: 3rem;
  }
}

.header__subtitle {
  color: var(--Text);
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__label {
  color: var(--Text);
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

@media (min-width: 650px) {
  .header__label {
    margin-right: 1rem;
  }
}

.header__switch {
  position: relative;
  width: 5rem;
  height: 2.5rem;
  background: var(--Toggle);
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.header__switch::after {
  content: "";
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  background-color: var(--TopBGPattern);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.header__switch.dark::after {
  right: calc(100% - 1.75rem - 5px);
}

.social {
  width: 100%;
  margin-bottom: 5rem;
}

@media (min-width: 650px) {
  .social {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .social {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1100px) {
  .social {
    grid-gap: 2.5rem;
  }
}

.card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: var(--CardBG);
  text-align: center;
  padding: 3.5rem 0 3rem;
  overflow: hidden;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.card:not(:last-child) {
  margin-bottom: 3rem;
}

@media (min-width: 650px) {
  .card:not(:last-child) {
    margin-bottom: 0;
  }
}

.card__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.card__top--fb {
  background: var(--facebook);
}

.card__top--tw {
  background: var(--twitter);
}

.card__top--in {
  background: var(--instagram);
}

.card__top--yt {
  background: var(--youtube);
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.75rem;
}

.card__image {
  margin-right: 1rem;
}

.card__name {
  color: var(--Text);
  font-weight: 700;
  font-size: 1.325rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.card__followers {
  font-size: 5.5rem;
  color: var(--Text-2);
  margin-bottom: 2.25rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.card__followers span {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--Text);
}

.card__today {
  color: var(--limegreen);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.card__today--red {
  color: var(--brightred);
}

.card__today img {
  margin-right: 0.5rem;
}

.overview__title {
  color: var(--Text);
  font-size: 2.625rem;
  margin-bottom: 3rem;
}

@media (min-width: 650px) {
  .overview__cards {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .overview__cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1100px) {
  .overview__cards {
    grid-gap: 2.5rem;
  }
}

.overview__card {
  background-color: var(--CardBG);
  border-radius: 5px;
  padding: 2.5rem 3rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.overview__card:not(:last-child) {
  margin-bottom: 2rem;
}

@media (min-width: 650px) {
  .overview__card:not(:last-child) {
    margin-bottom: 0;
  }
}

.overview__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.75rem;
}

.overview__card__title {
  color: var(--Text);
  font-weight: 700;
  font-size: 1.4rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.overview__card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.overview__card__content {
  color: var(--Text-2);
  font-size: 3.25rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.overview__card__updated {
  color: var(--limegreen);
  font-size: 1.25rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__card__updated--red {
  color: var(--brightred);
}

.overview__card__updated img {
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */